<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="./public/favicon.ico" type="image/x-icon"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %>. Author:</h1>
    <p>Adrian Roy Cubillo</p>
  </body>
</html>
