<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="./public/favicon.ico" type="image/x-icon"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <ul>
   <li><a href="author">Authors</a></li>
  </ul>
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
<table>
<% for (var i in quizzes){%>
<tr>
<td>
<a href="/quizzes/<%= quizzes[i].id%>"><%=quizzes[i].question%></a>
</td>
</tr>
<%}%>
</table>
    <p>Portal para crear juegos</p>
    <p><a href="/question">Comience a jugar<a> </p>
  </body>
</html>
